.container {
    padding: 0 100px;
    background-color: rgb(246, 243, 243);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_text-left {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 0;
}

.top_text-right {
    display: flex;
    flex-direction: column;
}

#buttonCalendar {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    border: 1px none;
    cursor: pointer;
}

#calendarIcon,
#arrowDown {
    width: 15px;
    padding: 6px;
}

/* Main */
.charts {
    display: flex;
    justify-content: space-between;
}

.charts_total {
    display: flex;
    flex-direction: column;
}